.userItem{
  
    padding: 5px;
}
.user-item_content:hover
{
    background:#fcb9b2;
    color: #239558;
}
.user-item_content
{
    background:#239558;
    color: #fcb9b2;
}
.userItem a
{
    text-decoration: none;
}